<h4>
	<span>Idea No. <%= @quote.id %></span>
	Here's a great idea for your next startup
</h4>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />